html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: sans-serif;
}

main {
  background-color: black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#projeto h1{
  color: white;
  margin: 20px;
}

#canvas-container {
  position: relative; /* ESSENCIAL para o botão ficar sobre o canvas */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; /* Centraliza horizontalmente */
}


#canvas-container canvas {
  width: 100%;
  height: auto;
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

#play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2rem;
  padding: 1rem 2rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 10;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}


#play-button:hover {
  background-color: #0056b3;
}
